# fly.toml app configuration file generated for tribble-tracker on 2023-05-23T20:20:02-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "tribble-tracker"
primary_region = "sea"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  min_machines_running = 1
  [http_services.concurrency]
    type = "requests"
    soft_limit = 200
