<!doctype html>
<html>
<head>
	<title>LineageOS Statistics</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/static/js/graphs.js"></script>
</head>
<body>
	<div class="ct-chart ct-perfect-fourth"></div>
</body>
</html>

